#sv-brand {
    margin-top: 1em;
    padding-left: 1.5em;
}

i {
    color: black;
}

.nav {
    margin-bottom 0;
}

.fa-4x {
    margin: 0.1em;
}

#brand-title {
    color: black;
}

#first-link {
    padding-left: -0.1em !important;
}

#mg-link {
    color: #7a5b6f;
}

.d-block {
    margin: auto;
}

.carousel-inner {
    max-height: 650px;
}

#bio {
    display: block !important;
    padding-top: -0.5em;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.footer {
    min-width: 50%;
    max-width: 50%;
    display: inline;
    padding-top: 1em;
}

.footer-right {
    float: right;
    text-align: right;
    display: inline !important;
}

#footer-blurb {
    font-size: 0.7em;
    margin-bottom: 0.5rem;
}

#about-icons {
    margin: auto;
}
@media (max-width: 576px) {
    .footer-left {
        display: none !important;
    }
    .carousel-inner {
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    .navfix {
        margin-top: 0em;
        margin-bottom: 3.5em;
    }
}

@media (min-width: 768px) {
    .navbar {
        padding-left: 0 !important;
        float: left !important;
        z-index: 3 !important;
    }
    #bio {
        max-width: 600px;
        margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}
@media (min-width: 990px) {
    .carousel-inner {
        min-height: 600px;
    }
}
