
    <div class="col-xs-12">
        <p id="bio"><br><br>I'm an Everett, Washington-based photographer that does portrait, landscape, and automotive photography, though I would love to branch out into other types of photography. Photography has been one of my passions for longer than I can remember. I was always fascinated by the technical and artistic aspects of photography, and have spent years honing my skills. If you would like to book me for a photo shoot, please use the contact form below!</p>
    </div>
