<div>
<div id="carouselExampleIndicators" class="carousel slide carousel-fixes" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" target="_self" data-slide-to="{{photo.carouselIndex - 1}}" ng-repeat="photo in photos track by photo.carouselIndex" ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item" ng-repeat="photo in photos" ng-class="{active : $first}">
            <img class="d-block img-fluid" ng-src={{photo.imgUrl}}
                alt="carousel image">
        </div>
    </div>
</div>
</div>
